In [2]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("artifacts/raw/data.csv")
df.head()

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes

In [6]:
df.columns

Index(['Patient_ID', 'Country', 'Age', 'Gender', 'Cancer_Stage',
       'Tumor_Size_mm', 'Family_History', 'Smoking_History',
       'Alcohol_Consumption', 'Obesity_BMI', 'Diet_Risk', 'Physical_Activity',
       'Diabetes', 'Inflammatory_Bowel_Disease', 'Genetic_Mutation',
       'Screening_History', 'Early_Detection', 'Treatment_Type',
       'Survival_5_years', 'Mortality', 'Healthcare_Costs',
       'Incidence_Rate_per_100K', 'Mortality_Rate_per_100K', 'Urban_or_Rural',
       'Economic_Classification', 'Healthcare_Access', 'Insurance_Status',
       'Survival_Prediction'],
      dtype='str')

In [7]:
df["Country"].value_counts()

Country
USA             25927
China           17525
South Korea     14107
Japan           13924
UK              12276
Germany         12258
India           10479
France          10426
Brazil          10399
Canada           8819
Italy            8795
Australia        6877
South Africa     5172
Nigeria          3551
Pakistan         3549
New Zealand      3413
Name: count, dtype: int64

In [8]:
df["Gender"].value_counts()

Gender
M    100686
F     66811
Name: count, dtype: int64

In [9]:
df["Cancer_Stage"].value_counts()

Cancer_Stage
Regional      66981
Localized     66799
Metastatic    33717
Name: count, dtype: int64

In [10]:
df["Tumor_Size_mm"].value_counts()

Tumor_Size_mm
22    2335
19    2320
51    2320
15    2315
74    2313
      ...
44    2172
43    2169
21    2168
9     2155
45    2096
Name: count, Length: 75, dtype: int64

In [11]:
df["Family_History"].value_counts()

Family_History
No     117184
Yes     50313
Name: count, dtype: int64

In [12]:
df["Smoking_History"].value_counts()

Smoking_History
No     100141
Yes     67356
Name: count, dtype: int64

In [13]:
df["Alcohol_Consumption"].value_counts()

Alcohol_Consumption
Yes    83857
No     83640
Name: count, dtype: int64

In [14]:
df["Obesity_BMI"].value_counts()

Obesity_BMI
Overweight    67168
Normal        50190
Obese         50139
Name: count, dtype: int64

In [15]:
df["Diet_Risk"].value_counts()

Diet_Risk
Moderate    83871
High        50295
Low         33331
Name: count, dtype: int64

In [16]:
df["Physical_Activity"].value_counts()

Physical_Activity
Moderate    67022
Low         50471
High        50004
Name: count, dtype: int64

In [17]:
df["Diabetes"].value_counts()

Diabetes
No     133941
Yes     33556
Name: count, dtype: int64

In [18]:
df["Genetic_Mutation"].value_counts()

Genetic_Mutation
No     142584
Yes     24913
Name: count, dtype: int64